{% extends "base.html" %}

{% block content %}
<form action="/signup" method="post">
    <table class='center'>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input id="username" name="username" type="text" value="{{ username }}">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input id="password" name="password" type="password">
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input id="verify" name="verify" type="password">
            </td>
        </tr>
        <tr>
            <td><label for="first_name">First Name</label></td>
            <td>
                <input id="first_name" name="first_name" type="text" value="{{ first_name }}">
            </td>
        </tr>
        <tr>
            <td><label for="last_name">Last Name</label></td>
            <td>
                <input id="last_name" name="last_name" type="text" value="{{ last_name }}">
            </td>
        </tr>
        <tr>
            <td><label for ="user_level">User Level</label></td>
            <td>
                <input id="user_level" name="user_level" type="number">
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Signup"  class=btn align=center></td>
        </tr>
    </table>
</form>
{% endblock %}